extends layout

block content
    h1= title
    p Welcome to #{title}, a Telegram bot for 
        a(href='https://duckduckgo.com') DuckDuckGo
    p 
    p
        a(href='https://telegram.me/DuckDuckBot') @DuckDuckBot
        |  is open source. You can find the source code on 
        a(href='https://github.com/rvanmil/DuckDuckBot') GitHub
        | .